.main-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #5d5a5d;
}

.main-button:hover {
  background-color: rgba(6, 161, 50, 0.5);
}

.main-button--primary {
  background-color: #00eaff;
  color: black;
}

.main-button--secondary {
  background-color: #3c3c3d;
  color: white;

  &:hover {
    color: black;
  }
}

.main-button--active {
  background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 100%);
}
